* {
            margin: 0;
            padding: 0;
            font-family: Arial;
        }

        body {
            background-color: black;
            color: white;
        }

        /* Background + Overlay */
        .hero {
            background-image: url("https://getwallpapers.com/wallpaper/full/8/c/4/1075680-netflix-wallpapers-1920x1080-for-iphone-5.jpg");
            background-size: cover;
            background-position: center;
            height: 650px;
            position: relative;
        }

        .hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.65);
        }

        header {
            display: flex;
            justify-content: space-between;
            padding: 25px;
            position: relative;
            z-index: 10;
        }

        /* Logo */
        .logo {
            width: 140px;
        }

        /* Buttons */
        select {
            background-color: #0040ff;
            color: white;
            padding: 7px 12px;
            border-radius: 5px;
            border: none;
        }

        .btn {
            padding: 10px 20px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s;
        }

        .login-btn {
            background: red;
            color: white;
        }

        .login-btn:hover {
            background: #b30000;
            transform: scale(1.07);
        }

        .signup-btn {
            background: white;
            color: red;
            border: 2px solid red;
            margin-left: 10px;
        }

        .signup-btn:hover {
            background: red;
            color: white;
            transform: scale(1.07);
        }

        /* Email Box */
        .email-box {
            padding: 9px;
            width: 250px;
            border-radius: 5px;
            border: none;
            font-size: 14px;
        }

        .start-btn {
            padding: 9px 30px;
            background: red;
            color: white;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }

        .start-btn:hover {
            background: #b30000;
            transform: scale(1.07);
        }

        .content {
            position: relative;
            z-index: 10;
            text-align: center;
            padding-top: 140px;

        }

        section {
            display: flex;
            justify-content: space-between;
            padding: 50px;
        }

        section img {
            width: 450px;
            height: 220px;
            border-radius: 10px;
        }

        hr {
            border: 1px solid rgb(40, 40, 40);
        }

        footer {
            padding: 40px;
            text-align: center;
            color: #999;
        }

        .feedback-link {
            padding: 12px 20px;
            background: red;
            color: white;
            border-radius: 5px;
            text-decoration: none;
        }